:root{
  --colour1: #6096B4;
  --colour2: #93BFCF;
  --colour3: #BDCDD6;
  --colour4: #EEE9DA;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}


.sidebar{
  padding: 2rem 3rem;
  grid-row: 1/3;
  background-color: var(--colour1);
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
}

.nav{
  display: grid;
  gap: 10px;
}

.sidebar-header{
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.sidebar-header img{
  height: 2.5rem;
}

.nav-item{
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
}

.nav-item img{
  height: 1.5rem;
}

.sidebar img{
  filter: invert(1);
}



.header{
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px 50px;
}

.header img{
  height: 1.5rem;
}

.topbar{
  display: grid;
  align-items: center;
  grid-template-columns: 60% 1fr;
  gap: 80px;
}

.topbar-search{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 2rem 1fr;
}

.topbar-search input{
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--colour3);
  border-radius: 20px;
  border: none;
}

.topbar-search input:focus{
  border: 1px solid black;
  outline: none;

}

.topbar-section{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: end;
  gap: 20px;
  font-weight: 700;
}

.topbar-section .profile{
  height: 4rem;
  border-radius: 50%;
}

.bottombar{
  display:grid;
  grid-template-columns: 3fr 2fr
}

.bottombar-section{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

.bottombar-section:first-child{
  grid-template-columns: 7rem 1fr;
}

.bottombar-section .profile{
  grid-row: 1/3;
  height: 6rem;
}

.bottombar-section button{
  height: 3rem;
  font-size: 1rem;
  align-self: center;
  border-radius: 20px;
  background-color: var(--colour1);
  border: none;
  color: white;
  font-weight: 700;
}

.bottombar-section:last-child{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  justify-content: end;
  gap: 40px;
}

.bottombar-section .large{
  font-weight: 700;
}

.bottombar-section .small{
  font-weight: 700;
  font-size: 0.7rem;
  align-self: end;
  margin: 5px 0;
}

.content{
  background-color: var(--colour3);
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 20px 40px;
  gap: 20px;
}

.projects {
  display: grid;
  grid-template-rows: 3rem;
  grid-auto-rows: 1fr;
}

.content h1 {
  font-size: 1rem;
}

.project-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card{
  background-color: white;
  padding: 2rem;
  border-left: 8px solid var(--colour4);
  border-radius: 1rem;
}

.card h1 {
  font-size: 1rem;
}

.card span {
  font-size: 0.8rem;
}

.content-side{
  background-color: var(--colour3);
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
}

.announcements, .trending{
  display: flex;
  flex-direction: column;
}

.announcement-list, .trending-list{
  flex-grow: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
}

.announcement h1{
  font-size: 0.8rem;
  margin-bottom: 0;
}

.announcement span {
  font-size: 0.6rem;
}

.announcement:not(:first-child):not(:last-child) {
  border-top: 1px solid var(--colour3);
  border-bottom: 1px solid var(--colour3);
}

.trending-list{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.trending-user{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 10px;
}

.trending-user img{
  grid-row: 1/3;
  width: 90%;
  height: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.trending-user .title{
  align-self: end;
  font-size: 0.8rem;
}

.trending-user .desc{
  align-self: start;
  font-size: 0.6rem;
  color: gray;
}

.card, .announcement-list, .trending-list{
  box-shadow: 3px 3px 3px gray;
}

.header{
  box-shadow: 3px 0px 3px gray;
  position: relative;
}